
@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url("../fonts/OpenSans-Light.woff") format("woff"),
    url("../fonts/OpenSans-Light.woff2") format('woff2');
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format('woff2');
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url("../fonts/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/OpenSans-SemiBold.woff2") format('woff2');
}